@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 259 3% 15%;
    --card: 0 0% 100%;
    --card-foreground: 259 3% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 259 3% 15%;
    --primary: 354 73% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 39 50% 69%;
    --secondary-foreground: 259 3% 15%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 39 50% 69%;
    --accent-foreground: 259 3% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 354 73% 46%;
    --radius: 0.5rem;
  }
  
  .dark {
    --background: 259 3% 15%;
    --foreground: 0 0% 98%;
    --card: 259 3% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 259 3% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 354 73% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 39 50% 69%;
    --secondary-foreground: 259 3% 15%;
    --muted: 259 3% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 39 50% 69%;
    --accent-foreground: 259 3% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 259 3% 25%;
    --input: 259 3% 25%;
    --ring: 354 73% 46%;
  }
  
  * {
    border-color: hsl(var(--border));
  }
  
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-noto), sans-serif;
  }
  
  h1, h2 {
    font-family: var(--font-expletus), sans-serif;
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-image: 
      linear-gradient(to right, hsl(var(--border)) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(var(--border)) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}
